# website settings
website:
  title: "Alexander Krammer"
  #description: "Treuhaft Scholar at CWRU"
  image: img/my_image.png
  
  favicon: img/favicon.png
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    logo: /img/logo.png
    
    # your sub-pages
    left:
      - text: "Projects"
        href: projects/index.qmd
      #- text: "Photography"
      #  href: photography/index.qmd
      - text: "CV"
        href: cv/index.qmd
    
    # your social media handles
    right:
      - icon: book
        href: https://scholar.google.com/citations?user=Dx0tRNYAAAAJ
        target: _blank
      - icon: github
        href: https://github.com/apkrammer/
        target: _blank
      - icon: linkedin
        href: https://www.linkedin.com/in/akrammer
        target: _blank
      - icon: envelope
        aria-label: email
        href: "mailto:apkrammer01@gmail.com"
  
  

# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: textbox

project:
  type: website
  output-dir: docs

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - pulse
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true